

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {font-family: 'Readx pro';}
img {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

img {
    border-radius: 50%;
    object-fit: cover;
    width: 40%;
    height: 90%;
}

img::after {
    content: "";
    display: table;
    clear: both;
}

img {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


a{
    text-decoration: none;
    color:white !important;
    font-weight: 500;
}
a:hover {
    color: #ff6361 !important;
    text-decoration: none;
  }

a:active {
    text-decoration: underline;
  }




#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}